.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.media-container {
  margin-top: 16px;
  width: 100%;
  max-width: 750px;
  height: auto;
}

.error {
  font-weight: 500;
  color: #c71818;
}
